
<section class="primary-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="section_heading">
          <h2> {{featureData.header.title}} </h2>

          <h4>{{featureData.header.description}}</h4>
        </div>

        <div class="col-md-6">
          <div class="features_detail">
            <ul>
              <li>

                <i class="fa fa-user" aria-hidden="true"></i>
                <h5> Amazing support</h5>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots

              </li>

              <li>

                <i class="fa fa-paperclip" aria-hidden="true"></i>
                <h5>File Attachment</h5>
                Contrary to popular belief, Lorem Ipsum is not simply random text.
              </li>

              <li>

                <i class="fa fa-camera" aria-hidden="true"></i>
                <h5> Share Photos</h5>
                Contrary to popular belief, Lorem Ipsum is not simply random text.
              </li>

              <li>

                <i class="fa fa-desktop" aria-hidden="true"></i>
                <h5> Modern design</h5>
                Contrary to popular belief, Lorem Ipsum is not simply random text.
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <div class="features_img pull-left">
            <img src="assets/images/features_img.png" alt="image">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
