<section class="primary-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="section_heading">
          <h2> How it work </h2>

          <h4> App Layers offers a wide range of features with Beautiful Design & Great Functionality. Lorem Ipsum is simply dummy text</h4>
        </div>

        <div class="col-md-4">
          <div class="how_it_work_m text-right">
            <a href="#"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
            <a href="#"> <h5> Listing Image </h5> </a>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </p>
          </div>

          <div class="how_it_work_m text-right">
            <a href="#"> <i class="fa fa-clock-o" aria-hidden="true"></i> </a>
            <a href="#"> <h5> Listing Update Time </h5> </a>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="workng_img">
            <img src="assets/images/how_to_work.png" alt="image">
          </div>
        </div>

        <div class="col-md-4">
          <div class="how_it_work_m text-left">
            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i> </a>
            <a href="#"> <h5> View Listing Detail </h5> </a>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </p>
          </div>

          <div class="how_it_work_m text-left">
            <a href="#"> <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
            <a href="#"> <h5> Add to favorites </h5> </a>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </p>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
