
<section id="pricing" class="price_table_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section_heading section_heading_2">
          <h2> {{pricingData.header.title}} </h2>

          <h4>{{pricingData.header.description}}</h4>
        </div>

        <div *ngFor="let plan of pricingData.plans" class="col-md-4">
          <div class="table-1">
            <div class="discount">
              <p> Save {{plan.savings}}% </p>
            </div>

            <h3> {{plan.title}} </h3>

            <div class="price_month">
              <!-- <span class="round-old">
                <h3> ${{plan.oldprice}} </h3>
                <span>
                  <p> /Meal </p>
                </span>
              </span> -->
              <span class="round">
                <h3> ${{plan.price}} </h3>
                <span>
                  <p> /Meal </p>
                </span>
              </span>

            </div>

            <ul>
              <li *ngFor="let feature of plan.features"> {{feature}} </li>
              <!-- <li> 10 GB Bandwidth</li>
              <li> Enhanced Security </li> -->
            </ul>

            <div class="section_sub_btn">
              <button class="btn btn-default" type="submit"> <i class="fa fa-cart-plus" aria-hidden="true"></i> Order Now</button>
            </div>
          </div>
        </div>
<!-- 
        <div class="col-md-4">
          <div class="table-1">
            <div class="discount">
              <p> Save 15% </p>
            </div>

            <h3> Pro </h3>

            <div class="price_month_m">
              <span class="round">
                <h3> $29 </h3>
                <span>
                  <p> /Month </p>
                </span>
              </span>

            </div>

            <ul>
              <li> 5 GB Space </li>
              <li> 20 GB Bandwidth</li>
              <li> Enhanced Security </li>
            </ul>

            <div class="section_sub_btn">
              <button class="btn btn-default" type="submit"> <i class="fa fa-cart-plus" aria-hidden="true"></i> Order Now</button>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="table-1">
            <div class="discount">
              <p> Save 12% </p>
            </div>

            <h3> Advanced </h3>

            <div class="price_month">
              <span class="round">
                <h3> $39 </h3>
                <span>
                  <p> /Month </p>
                </span>
              </span>

            </div>

            <ul>
              <li> 7 GB Space </li>
              <li> 25 GB Bandwidth</li>
              <li> Enhanced Security </li>
            </ul>

            <div class="section_sub_btn">
              <button class="btn btn-default" type="submit"> <i class="fa fa-cart-plus" aria-hidden="true"></i> Order Now</button>
            </div>
          </div>
        </div> -->


      </div>
    </div>
  </div>
</section>
