
<section id="portfolio" class="fifth-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="section_heading">
          <h2> Our Portfolio </h2>

          <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text  </h4>
        </div>

        <div class="tags">
          <ul>
            <li> <a href="#"> Show All </a> </li>
            <li> <a href="#"> Design </a> </li>
            <li> <a href="#"> Audio </a> </li>
            <li> <a href="#"> Image </a> </li>
            <li> <a href="#"> YouTube </a> </li>
          </ul>
        </div>


        <div class="portfolio_img">
          <div class="port_img1">
            <img src="assets/images/services_img1.jpg" alt="image">
          </div>
        </div>










      </div>
    </div>
  </div>
</section>
