
<section id="services" class="padding_bottom_none our_service_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section_heading section_heading_2">
          <h2> Our Services </h2>

          <h4> App Layers  providing a best services which help you to make your life simpler. Lorem Ipsum is simply dummy text</h4>
        </div>

        <div class="col-md-5 pull-right">
          <div class="services_detail">
            <ul>
              <li>
                <a href="#">
                  <span><i class="fa fa-html5" aria-hidden="true"></i></span>
                  <h5> HTML5 & CSS3 </h5>
                </a>
                <p> Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
              </li>

              <li>
                <a href="#">
                  <span><i class="fa fa-desktop" aria-hidden="true"></i></span>
                  <h5> Fully Reponsive </h5>
                </a>
                <p> Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
              </li>

              <li>
                <a href="#">
                  <span><i class="fa fa-rocket" aria-hidden="true"></i></span>
                  <h5> Unlimited Support </h5>
                </a>
                <p> Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
              </li>
            </ul>

          </div>
        </div>

        <div class="col-md-7">
          <div class="services_img">
            <img src="assets/images/services_img1.jpg" alt="image-1">
          </div>

          <div class="services_img_n">
            <img src="assets/images/services_img1.jpg" alt="image-1">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
