
<section id="blog" class="primary-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="section_heading">
          <h2> {{blogData.header.title}} </h2>

          <h4>{{blogData.header.description}}</h4>
        </div>


        <div class="col-md-4">
          <article class="our_blog">
            <div class="blog_image">
              <img src="assets/images/services_img1.jpg" alt="image">
            </div>

            <div class="blog_detail">
              <div class="category_heading">
                <a href="#"> <h6> Marketing </h6> </a>
                <a href="#"> <h5> Lorem Ipsum is simply dummy text of the printing. </h5> </a>

                <ul>
                  <li> <i class="fa fa-clock-o" aria-hidden="true"></i> 20 March 2016 </li>
                  <li> <a href="#"> <i class="fa fa-comments-o" aria-hidden="true"></i> Comments </a> </li>
                </ul>

                <a href="#" class="read_more"> <p> Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </p> </a>
              </div>
            </div>
          </article>
        </div>

        <div class="col-md-4">
          <article class="our_blog">
            <div class="blog_image">
              <img src="assets/images/services_img1.jpg" alt="image">
            </div>

            <div class="blog_detail">
              <div class="category_heading">
                <a href="#"> <h6> Marketing </h6> </a>
                <a href="#"> <h5> Lorem Ipsum is simply dummy text of the printing. </h5> </a>

                <ul>
                  <li>  <i class="fa fa-clock-o" aria-hidden="true"></i>  20 March 2016 </li>
                  <li> <a href="#">  <i class="fa fa-comments-o" aria-hidden="true"></i> Comments </a> </li>
                </ul>

                <a href="#" class="read_more"> <p> Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </p> </a>
              </div>
            </div>
          </article>
        </div>

        <div class="col-md-4">
          <article class="our_blog">
            <div class="blog_image">
              <img src="assets/images/services_img1.jpg" alt="image">
            </div>

            <div class="blog_detail">
              <div class="category_heading">
                <a href="#"> <h6> Marketing </h6> </a>
                <a href="#"> <h5> Lorem Ipsum is simply dummy text of the printing. </h5> </a>

                <ul>
                  <li>  <i class="fa fa-clock-o" aria-hidden="true"></i>  20 March 2016 </li>
                  <li> <a href="#">  <i class="fa fa-comments-o" aria-hidden="true"></i> Comments </a> </li>
                </ul>

                <a href="#" class="read_more"> <p> Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </p> </a>
              </div>
            </div>
          </article>
        </div>






      </div>
    </div>
  </div>
</section>
