            <nav role="navigation" class="navbar navbar-default">
              <div class="navbar-header">
                <button id="menu_slide" aria-controls="navbar" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <div class="collapse navbar-collapse" id="navbar">

                <ul class="nav navbar-nav">
                  <li><a routerLink="/home" class="js-target-scroll">Home</a></li>
                  <li><a routerLink="/features" class="js-target-scroll">Features</a></li>
                  <li><a routerLink="/services" class="js-target-scroll">Services</a></li>
                  <li><a routerLink="/howitworks" class="js-target-scroll">How It Works</a></li>
                  <li><a routerLink="/portfolio" class="js-target-scroll">Portfolio</a></li>
                  <li><a routerLink="/pricing" class="js-target-scroll">Pricing</a></li>
                  <li><a routerLink="/team" class="js-target-scroll">Team</a></li>
                  <li><a routerLink="/testimonial" class="js-target-scroll">Testimonial</a></li>
                  <li><a routerLink="/subscribe" class="js-target-scroll">Subscribe</a></li>
                  <li><a routerLink="/blog" class="js-target-scroll">Blog</a></li>
                  <li><a routerLink="/contact" class="js-target-scroll">Contact</a></li>
                  <!-- <li class="dropdown">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown"> page  </a>
                    <ul class="dropdown-menu">
                      <li><a routerLink="/">List  Width</a></li>
                      <li><a routerLink="/">List  Sidebar</a></li>
                      <li><a routerLink="/">List  Sidebar</a></li>
                      <li><a routerLink="/">List Sidebar</a></li>
                    </ul>
                  </li> -->
                </ul>
              </div>

            </nav>
