

<section id="testimonial" class="testimonial_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section_heading section_heading_2">
          <h2> {{testimonialData.header.title}} </h2>

          <h4>{{testimonialData.header.description}}</h4>
        </div>

        <div class="testimonial_slide">
          <div class="testi_detail">
            <div class="testi_img">
              <img src="assets/images/testi_img1.png" alt="image">

              <h5> John Capone</h5>
              <p> Web Art Director</p>
            </div>

            <div class="testi-text">
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi odio, gravida at turpis et, porta bibendum justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi odio, gravida at turpis et, porta bibendum justo. </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
