
.footer_bottom.fourth-bg button.backtop {
    background: #02060d none repeat scroll 0 0;
    border: 2px solid #f6b20e;
    border-radius: 100%;
    color:#f6b20e;
    float: right;
    font-weight: 700;
    width: 40px;
    text-decoration: none;
    font-size: 25px;
    height: 40px;
    text-align: center;
    line-height: 36px;
  }

  .navbar ul.nav.navbar-nav li a.active {
    background-color: #f6b20e;
    color: #fff;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .main-info {
    background: #fff;
    /* border-bottom: 10px solid #f2f0ef; */
    /* color: #3F3F3F; */
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }
