
<section id="team" class="primary-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="section_heading">
          <h2> {{teamData.header.title}} </h2>

          <h4>{{teamData.header.description}}</h4>
        </div>
        
        <div class="col-md-3">
          <div class="member_detail">
            <div class="member_img">
              <img src="assets/images/services_img1.jpg" alt="image">
            </div>
            <div class="member_name">
              <h5> John Capone</h5>
              <p> Web Art Director</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member_detail">
            <div class="member_img">
              <img src="assets/images/services_img1.jpg" alt="image">
            </div>
            <div class="member_name">
              <h5> Marlon Leend</h5>
              <p> Head Phographer</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member_detail">
            <div class="member_img">
              <img src="assets/images/services_img1.jpg" alt="image">
            </div>
            <div class="member_name">
              <h5> Robert Son</h5>
              <p> Marketing Director </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member_detail">
            <div class="member_img">
              <img src="assets/images/services_img1.jpg" alt="image">
            </div>
            <div class="member_name">
              <h5> John Capone</h5>
              <p> Web Art Director</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
