
<section id="home" class="top_banner_bg secondary-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top_banner">

        </div>

        <div class="col-md-6">
          <div class="present">
            <h1> Present your app in beautiful way with App Layers.</h1>

            <h5> Available on <span> App Store </span> and <b> Play Store</b> </h5>

            <div class="section_btn">
              <a href="#"> <button class="btn btn-default" type="submit"> <i class="fa fa-apple" aria-hidden="true"></i> App Store</button> </a>

              <span> <a href="#"> <button class="btn btn-default" type="submit"><i class="fa fa-android" aria-hidden="true"></i> Play Store</button> </a> </span>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="present_img">
            <img src="assets/images/image-1.png" alt="image">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
